@import "../abstracts/variables";
@import "../abstracts/mixins";

.faq {
  @include section-spacing(2rem, 4.5rem);

  &__header {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__list {
    max-width: 760px;
    margin-inline: auto;
  }
}
